@font-face {
    font-family: RobotoSlab;
    src: url(../fonts/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: RobotoSlab;
    src: url(../fonts/RobotoSlab-Bold.ttf);
    font-weight: bold;
}

body {
    /*font-family: Helvetica, sans-serif;*/
    font-family: RobotoSlab;
    font-size: 16px;
    line-height: 1.4em;
    background-color: #FDFDFD;
}

a {
    color: blue;
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
}

.navbar a {
    font-weight: bold;
    padding: 8px;
}

.container {
    width: 50%;
    margin: auto;
    margin-top: 50px;
}
